.msg{
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    margin: 4px;
}

.msg_sc{
    background-color: rgb(245, 209, 255);
}

.msg_user{
    background-color: blueviolet;
    color: white;
    margin-left: auto;
    right: 0;
}

#input{
    width: 100%;
}

#input:focus{
    outline: none;
    border-color: blueviolet;
}